body {background-image: url("https://sora-ishi.github.io/final_project/illustration/yama_fukei.png"); }

div#title {
	background-color:#ffffff;
}

div#back {
	background-color:#ffffff;
}

.relative {
  position: center;
}

.absolute {
  position: absolute;
  left: 15%;
 top: 600px;
}
