body {background-image: url("https://sora-ishi.github.io/final_project/illustration/yama_fukei.png"); }

div#title {
	background-color:#ffffff;
}

div#back {
	background-color:#ffffff;
}

.relative {
  position: relative;
  width: 300px;
}

.absolute {
  position: absolute;
 right: 30px;
 bottom: 30px;
}
